body{
    family-font: "Roboto", sans-serif;
    background-color: #fefefe;
    color: #2c2c2c;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
text-decoration: none;
color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
}

.header {
box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
    padding: 10px 0;
}

.nav {
display: flex;
margin-right: 30px;
}

.nav-list {
display: flex;
gap: 28px;
}

.nav-link {
    display: block;
    padding: 28px 0;
    font-size: 14px;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: 700;
    text-decoration: underline;
    color: #bbf330;
}

.header-btn {
border-radius: 30px;
padding: 0;
min-width: 98px;
height: 32px;
background: #bbf330;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2c2c2c;
border: none;
}

/*---------Hero-------------*/
.hero-section {
    padding-top: 14px;
    padding-bottom: 69px;
}
.header-container {
display: flex;
align-items: center;
}

.hero-wrraper {
    max-width: 511px;
    margin-right: 143px;
}

.hero-title {
    margin-bottom: 28px;
    font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: #2c2c2c;
}

.hero-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2c2c2c;
margin-bottom: 40px;

}

.hero-img {
    border: 26px solid #ffe550;
    border-radius: 100%;
}

/*---------------ABOUT-------------*/
.about {
    padding-top: 113px;
    padding-bottom: 124px;
    background: #ffe550;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.about-wrapper {
    max-width: 573px;
}

.about-img {}

.about-title {
font-size: 42px;
line-height: 1.2;
margin-bottom: 20px;
}

.about-text {
line-height: 1.5;
margin-bottom: 40px;
}

.about-list {
    display: flex;
    gap: 67px;
    margin-bottom: 37px;
}

.about-item {
width: calc((100% - 67px) / 2);
}

.about-svg {
border-radius: 100%;
background-color: #fefefe;
width: 48px;
height: 48px;
}

.about-sabtitle {
font-size: 18px;
line-height: 1.4;
margin-bottom: 16px;
}

.about-desk {
font-size: 14px;
line-height: 1.5;

}


.about-btn {
border: 2px solid #7eb101;
border-radius: 30px;
padding: 0;
min-width: 106px;
height: 40px;
background: #fff;
font-weight: 500;
font-size: 13px;
line-height: 1.5;

}
/*---------------Favorites----------------*/

.favorites {
    padding-bottom: 101px;
    padding-top: 120px;
}

.favorites-container {
padding: 0 32px;
}

.fav-title {
font-size: 42px;
text-align: center;
margin-bottom: 20px;
}

.fav-text {
text-align: center;
margin-bottom: 40px;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.fav-item {
    width: calc((100% - 64px) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------CUSTOMERS---------------------*/

.customers {
    padding-top: 140px;
    padding-bottom: 126px;
    background: #ffe550;
}


.customers-container {
    padding: 0 32px;
}

.customers-title {
font-weight: 700;
font-size: 42px;
margin-bottom: 20px;
}

.customers-text {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 33px;
}

.customers-list {
    display: flex;
    gap: 139px;
}

.customers-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 501px;
    border-top-right-radius:30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    padding: 14px;
}

.customers-svg {
    margin-bottom: 29px;
}

.customers-text-bolt {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 41px;
    width: 473px;
}

.customers-block{
    display: flex;
    gap: 16px;
}

.customers-wrap {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #7eb101;
    
        
}

.customers-photo {
    border-radius: 100%;
        stroke-width: 2px;
        stroke: #ffe550;
}

.customers-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        // line-height: 21px; 
        padding-right: 16px;
}

.customers-description {
        font-weight: 400;
        font-size: 14px;
    
        // line-height: 21px; 

}

/*--------------------subscribe-------------------*/
.subscribe {
    padding-top: 176px;
    padding-bottom: 201px;
}


.subscribe-container {
    display: flex;

}

.subscribe-box{}

.subscribe-title {
        font-weight: 700;
        font-size: 42px;
        // line-height: 50px; 
        line-height: 1.2;
        margin-bottom: 20px;
}

.subscribe-text {
        font-weight: 400;
        font-size: 16px;
        // line-height: 24px; 
        line-height: 1.5;
        margin-bottom: 24px;
}

.subscribe-form {

}

.subscribe-input {
    border: 0.85px solid #ffe550;
        border-radius: 30px;
        padding: 10px;
        width: 395px;
padding: 12px 11px 12px;
        margin-right: 32px;
}

.subscribe-btn {
    border-radius: 30px;
        padding: 10px 20px;
        width: 103px;
        height: 42px;
        background: #bbf330;
            font-weight: 500;
            font-size: 13px;
            // line-height: 19px; 
            line-height: 1.5;
border: none;
}